

*{
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}

body{
  background-color: #f3f7fc;
}

button{
  cursor: pointer;
}




.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Jost', sans-serif;
  height: 50px;
}

#left_navbar{
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-left: 20px;
  align-items: center;
  /* mobile */
  height: 100%;
}

#left_navbar div h1{
  display: flex;
  justify-content: center;
  align-items: center;
}



#hungr_header{
  color: rgb(114, 164, 204);
  text-decoration: none;
}

#right_navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  padding-right: 25px;
  height: 100%;
}

.nav_button_size{
  font-size: 16px
}

.nav_button{
  background: none;
  border: none;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  color: rgb(114, 164, 204);
  margin: 0px 0px 0px 10px;
  text-decoration: none;
}

.nav_button:hover{
  color: rgb(233, 139, 105);
}


#logo{
  max-height: 30px;
  padding-left: 10px;
  height: 100%;
  width: auto;
}
#logoPic{
  width: auto;
  height: 100%;
}




.slide_animation{
  animation: slide_animation;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}

@keyframes slide_animation{
  0%{ opacity: 0; transform: translate(400px, 0px);}
  100%{ opacity: 100%; transform: translate(0px, 0px);}
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  color: rgb(114, 164, 204);
}

.main_header{
  font-family: 'Jost', sans-serif;
  border-top: 2px solid black;
  width: calc(100vw - 20px);
  padding: 0px 0px 0px 20px;
}

#search_bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 17px;
  width: 100%;
  height: auto;
  color: rgb(114, 164, 204);
  background-color: #f3f7fc;
}

#search_bar input{
  width: 300px;
  width: 100%;
}

#get_restaurants_div{
  display: flex;
  flex-direction: column;
  width: 30%;
  /* font-size: 3vw; */
}



#location{
  border: 1px solid black;
}

#begin{
  z-index: 5;
}

.host-buttons{
  background-color: white;
  border: 2px solid rgb(114, 164, 204);
  border-radius: 10px;
  font-size: 3vw;
  color: rgb(114, 164, 204);
  height: 50%;
}

.hidden{
    opacity: 0;
    z-index: -1;
}

.shown{
    opacity: 100;
    z-index: 1;
}

.slide2_div1{
  justify-content: space-between;
  padding-top: 9px;
  border-radius:50px;
  height: auto;
}

.slide2_div2{
  padding-top: 6px;
  border-radius: 50px;
}

.slide2_div1, .slide2_div2{
  display: flex;
  flex-direction: row;
}

.business_address{
  font-size: 1rem;
  padding-top: 8px;
  color: black;
}

.business_reviews{
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  background: none;
  margin-top: 5px;
  padding: 5px 8px 5px 8px;
  font-size: 1rem;
}

.business_buttons{
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  height: auto;
}

.add_restaurant{
  background-color: #77B1E7;
  width: 30%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  align-self: center;
}

.info_section{
  width: 90%;
  height: auto;
  align-self: center;
}

.slide_cover{
  display: flex;
  flex-direction:column;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 48px;
}

#xPic{
  width: 20%;
}

#checkPic{
  width: 20%;
}

.business{
  font-weight: 600;
}

.business_pic{
  border-radius: 48px 48px 0px 0px;
  border-bottom: 1px solid black;
  width: 100%;
  height: 50%;
}

#search_results{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 95%;
  height: auto;
  background-color: #f3f7fc;
}

.slide2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 50vh;
  min-height: 350px;
  border: 2px solid black;
  border-radius:50px;
  flex: 0 0 auto;
  margin-right: 3px;
  margin: 20px 20px 20px 20px;
  color: black
}

.stars{
  font-size: 1px;
}

input{
  padding: 8px 0px 8px 0px;
}

#queued_restaurants{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 95%;
  height: auto;
  background-color: #f3f7fc;
}

.scroll_right{
  position: absolute;
  align-self:center;
  z-index: 10;
  width: 60px;
  height: 60px;
  right: 1%;
  border-radius: 30px;
  background-color: #77B1E7;
  font-weight: bolder;


  opacity: 0;
  visibility: hidden;

}

.scroll_left{
  position: absolute;
  align-self: center;
  z-index: 10;
  width: 60px;
  height: 60px;
  left: 1%;
  border-radius: 30px;
  background-color: #77B1E7;
  font-weight: bolder;

  opacity: 0;
  visibility: hidden;
}

#location_div{
  display: flex;
  flex-direction: row;
  width: 30%;
}

#myInput{
  color: black;
  border: 1px solid black;
}

#search_input, #location_input{
  font-size: auto;
  width: 100%; 
}

#location{
  width: 100%;
  padding: 5px;
  font-size: 16px;
}



/* Tablet------------------------------------------------------ */
@media (min-width: 600px) and (max-width: 768px){
  .navbar{
    height: 70px;
  }
  .nav_button_size{
    font-size: 30px
  }
  .nav_button{
    margin: 0px 0px 0px 20px;
  }
  #logo{
    max-height: 50px;
    padding-left: 10px;
    height: 100%;
    width: auto;
  }
  #logoPic{
      width: auto;
      height: 100%;
  }
  #right_navbar{
    padding-right: 35px;
  } 
  #search_bar{
    font-size: 19px;
  }
  input{
    font-size: 17px;
    padding: 5px 0px 5px 0px;
  }
  #get_restaurants{
  }
  #link{
    font-size: 17px;
  }


  .scroll_right{
    opacity: 100;
    visibility:visible;
  }
  .scroll_left{
    opacity: 100;
    visibility:visible;
  }
}


/* Desktop------------------------------------------------- */
@media (min-width: 768px){
  .navbar{
    height: 70px;
  }
  .nav_button_size{
    font-size: 30px
  }
  .nav_button{
    margin: 0px 0px 0px 20px;
  }
  #logo{
    max-height: 50px;
    padding-left: 10px;
    height: 100%;
    width: auto;
  }
  #logoPic{
      width: auto;
      height: 100%;
  }
  #right_navbar{
    padding-right: 35px;
  }
  #search_bar{
    font-size: 24px;
  }
  input{
    font-size: 21px;
    padding: 5px 0px 5px 0px;
  }
  #get_restaurants{
  }
  #link{
    font-size: 19px;
  }
  .host-buttons{
    font-size: 25px;
  }
  .scroll_right{
    opacity: 100;
    visibility:visible;
  }
  .scroll_left{
    opacity: 100;
    visibility:visible;
  }
}

/* Autocomplete -------------------------------------------
https://www.w3schools.com/howto/howto_js_autocomplete.asp
*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 30%;
}
.autocomplete input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  background-color: white;
  padding: 5px;
  font-size: 16px;
}
/* .autocomplete input[type=text], #location_div input {
  background-color: #f1f1f1;
  width: 100%;
} */
.autocomplete input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  /* top: 100%; */
  left: 0;
  right: 0;
  color: black;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}